// 在normal基础上在进行重置样式
@import './normalize';

#app,
html,
body {
  position: absolute 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.page-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  z-index: 1;
}
body {
  margin: 0;
  color: $color-body;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system-font, "PingFang SC", "Helvetica Neue", 'Avenir', Helvetica, Arial, sans-serif;
}

.view-scroll {
  // 滚动不流畅，此属性可以恢复弹性滚动 http://efe.baidu.com/blog/mobile-fixed-layout
  // 允许独立的滚动区域和触摸回弹
  // NOTE：可能影响 Safari qq 上 header 没了
  -webkit-overflow-scrolling: touch;
}
